{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4"> Available Articles</h1>
<section id="display">
    <div class="container">
		{% for article_row in articles | batch(5)%}		
        <div class="row ">
			{% for article in article_row %}
            <div class="col-md-4">
				<img src="{{article.image}}" alt="" class="img-fluid" >
            </div>
            <div class="col-md-8">
                <h1>{{article.title}} </h1>
                <p>{{article.description}}</p>
                <a href="{{article.url}}"  target="_blank" class="btn btn-primary mb-3">Read the entire artice</a>
            </div>	
			{% endfor %}
        </div>		
		{% endfor %}
		
		

    </div>

</section>
{% endblock %}

