{% import 'macros.html' as macro%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

    {% if title %}
        <title>NewsCatch -- {{ title}}</title>
    {% else %}
        <title>NewsCatch </title>
    {% endif %}
    
  </head>
  <body>
      <!-- start navbar -->
    <nav class="navbar navbar-expand-lg py-4 ">
        <div class="container">
          <a class="navbar-brand"  href="#">NEWSCATCH</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End navbar -->

      <!-- Start hero section -->
      <section id="hero">
          <div class="container">
            <h1 class="text-center">WELCOME</h1>
            <P class="text-center">country affairs or individual affairs, its newscatch speaks everything.....</P>
          </div>
          

      </section>
      <!-- End hero section -->


    <!-- insert code block -->
   {% block content%}
   {% endblock %}

   <footer class= "mt-4">
       <div class="container">
        <a class="navbar-brand text-center"  href="#">NEWSCATCH</a>
        <p class="text-center">newscatch Copyright &copy; <span id="year"></span></p>
       </div>
    
   </footer>
    <!-- Custom javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='index.js')}}"></script>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>